tensorflow
mediapipe  # mediapipe needs numpy < 2.0
absl-py
mediapy
scikit-image
natsort
tqdm
opencv-python
rembg
onnxruntime
dlib
numpy==2.0.1  # tf needs numpy >= 2.0, but mediapipe needs < 2.0. But mediapipe does not throw error.